---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Us">
  <main class="h-screen relative">
    <div class="absolute top-0 right-0 h-full -z-10">
      <div class="relative h-full w-full">
        <img src="../../aboutBg.png" alt="" class="h-full z-0" />
        <div
          class="absolute h-full w-full bg-gradient-to-l from-transparent to-black from-[60%] z-20 top-0 left-0"
        >
        </div>
      </div>
    </div>
    <div class="pt-[15%] text-9xl max-w-desktop mx-auto">
      <div class="space-y-8">
        <div class="text-8xl">
          <span class="">ABOUT</span>
          <span class="font-bold">US</span>
        </div>
        <div class="space-y-6 text-base max-w-[600px]">
          <p class="">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </p>
          <p class="">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
            quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo.
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
