---
import BlurCard from "../components/BlurCard.astro";
import { PortfolioCarouselNoSnap } from "../components/reactComponents/PortfolioCarouselNoSnap";
import Layout from "../layouts/Layout.astro";
---

<Layout title="0xLabs">
  <div class="overflow-x-hidden relative">
    <div class="absolute w-[70%] top-0 right-0">
      <div class="relative">
        <div
          class="absolute bg-gradient-to-l from-transparent to-black w-full h-full from-90%"
        >
        </div>
        <div
          class="absolute bg-gradient-to-b from-transparent to-black w-full h-full from-90%"
        >
        </div>

        <img src="../../astronautPortfolio.png" alt="" class="" />
      </div>
    </div>
    <main class="mx-auto max-w-desktop py-24 relative h-screen space-y-8">
      <div class="text-8xl capitalize tracking-widest">PORTFOLIO</div>
      <p class="font-thin w-[45%]">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
      <div class="-mx-[calc(50vw-50%)]">
        <PortfolioCarouselNoSnap client:load>
          <BlurCard
            title="0xCard"
            description="0xLabs is a community of developers, designers, and entrepreneurs who are building the future of web3."
            image="../../cards.png"
            link="/0xCard"
          />
          <BlurCard
            title="0xCard"
            description="0xLabs is a community of developers, designers, and entrepreneurs who are building the future of web3."
            image="../../cards.png"
            link="/0xCard"
          />
          <BlurCard
            title="0xCard"
            description="0xLabs is a community of developers, designers, and entrepreneurs who are building the future of web3."
            image="../../cards.png"
            link="/0xCard"
          />
          <BlurCard
            title="0xCard"
            description="0xLabs is a community of developers, designers, and entrepreneurs who are building the future of web3."
            image="../../cards.png"
            link="/0xCard"
          />
          <BlurCard
            title="0xCard"
            description="0xLabs is a community of developers, designers, and entrepreneurs who are building the future of web3."
            image="../../cards.png"
            link="/0xCard"
          />
        </PortfolioCarouselNoSnap>
      </div>
      <div class="text-6xl capitalize tracking-widest pt-40">
        TURNKEY DEVELOPMENT
      </div>
      <p class="font-thin w-[45%]">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
      <div class="-mx-[calc(50vw-50%)] pb-24">
        <PortfolioCarouselNoSnap client:load>
          <BlurCard
            title="0xCard"
            description="0xLabs is a community of developers, designers, and entrepreneurs who are building the future of web3."
            image="../../cards.png"
            link="/0xCard"
          />
          <BlurCard
            title="0xCard"
            description="0xLabs is a community of developers, designers, and entrepreneurs who are building the future of web3."
            image="../../cards.png"
            link="/0xCard"
          />
          <BlurCard
            title="0xCard"
            description="0xLabs is a community of developers, designers, and entrepreneurs who are building the future of web3."
            image="../../cards.png"
            link="/0xCard"
          />
          <BlurCard
            title="0xCard"
            description="0xLabs is a community of developers, designers, and entrepreneurs who are building the future of web3."
            image="../../cards.png"
            link="/0xCard"
          />
          <BlurCard
            title="0xCard"
            description="0xLabs is a community of developers, designers, and entrepreneurs who are building the future of web3."
            image="../../cards.png"
            link="/0xCard"
          />
        </PortfolioCarouselNoSnap>
      </div>
    </main>
  </div>
</Layout>
